<div class="rows">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg" style="background-color: #e7ebec !important;">
            <a id="logoPanHome" class="navbar-brand" href="save-provision-currency">
                <img src="../assets/images/logo.svg" width="40" height="40" class="d-inline-block align-top" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard">Painel de controle</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" routerLink="/save-provision-currency">Bloqueio</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" routerLink="/save-contribution">Extrato</a>
                    </li>
                    <!-- <li>
                        <a class="nav-link " routerLink="/logout">Sair</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>